body 
{
background-color: #f7b8ff;
  padding:150px
}

h1
{
  text-align:center; color: #b900d1;
}

hr
{
color: #b900d1
}

p
{
  text-align:center;
}

a:link {
  color: #eb54ff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #000000;
}

a:active {
  color: #db00d4;
}
