:root {
    --pink: #f5e558;
    --dark: #29882d;
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    background: var(--pink);
    background: linear-gradient(45deg, var(--dark), var(--pink)) ;
    overflow: hidden;
    color: #ffff;
}

.container {
    width: 66%;
    height: 66%;
    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    padding: 32px 92px;
    position: relative;
    backdrop-filter: blur(8px);
}

.bg__img {
    position: absolute;
}

.bg__img--button{
    position: absolute;
    top: 0;
    right: 60%;
    height: 30vh;
    animation: slideDown 10s linear infinite;
}

.bg__img--dots {
    top: 0;
    left: 75%;
    height: 75vh;
    animation: rotate 20s linear infinite;
}

.bg__img--logo {
    width: 30vw;
    height: 20vh;
    left: 0;
    top: 50%;
    opacity: 0.65;
    transform: translate(-10%, -50%);
    rotate: -55deg
}

h1 {
    padding-bottom: 12px;
    font-size: 48px;
}

p {
    font-size: 20px;
    font-weight: 400;
}

a{
    color: var(--dark);
    text-decoration: none;
    position: relative
}

.link_border {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--dark);


}


@keyframes slideDown {
    from {transform: translateY(-30vh)}
    to {transform: translateY(100vh)}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

