body
{
margin: 0;
padding: 0;
}

#container
{
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}

#header
{
height: 150px;
background: #c281de;
}

#left
{
width: 150px;
float: left;
background: #ebbdff;
}

#main
{
	width: 400px;
	float: left;
	background: #dc8aff;
}

#right
{
width: 200px;
float: left;
background: #c642ff;
}


#footer
{
clear: both;
background: #b4ff8c;
}


